In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('iris.csv')    #used to load the dataset

In [5]:
print(df)   #used to print the dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
print(df.head(10))  #used to print the first 10 rows of the data

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [7]:
print(df.index)  #to print the index

RangeIndex(start=0, stop=150, step=1)

In [8]:
print(df.columns)  #prints the dataset columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [9]:
print(df.columns)
print(df.index)
print(df.shape)
print(df.info())   #prints all the attributes in the data

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')
RangeIndex(start=0, stop=150, step=1)
(150, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [11]:
df['ID'] = df.index   #adds a new column to the dataset

In [12]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species   ID
0             5.1          3.5           1.4          0.2     setosa    0
1             4.9          3.0           1.4          0.2     setosa    1
2             4.7          3.2           1.3          0.2     setosa    2
3             4.6          3.1           1.5          0.2     setosa    3
4             5.0          3.6           1.4          0.2     setosa    4
..            ...          ...           ...          ...        ...  ...
145           6.7          3.0           5.2          2.3  virginica  145
146           6.3          2.5           5.0          1.9  virginica  146
147           6.5          3.0           5.2          2.0  virginica  147
148           6.2          3.4           5.4          2.3  virginica  148
149           5.9          3.0           5.1          1.8  virginica  149

[150 rows x 6 columns]

In [13]:
df.drop(columns = 'ID', inplace = True)   #removes a column from the dataset

In [17]:
print(df)

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [15]:
import matplotlib.pyplot as plt

IndentationError: unexpected indent (780391068.py, line 3)